@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap");
.display-small {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 44px;
  text-align: left;
}

.headline5 {
  font-size: 20px;
  letter-spacing: 0.15px;
  font-weight: 500;
}

.subhead {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
  opacity: 80%;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-sm {
  font-size: 10px;
  font-weight: lighter;
  color: #43493E;
}

.hint {
  font-size: 10px;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-transform: uppercase;
}

.desc-sm {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  font-weight: 400;
  height: 50px;
  width: 260px;
  overflow: hidden;
}

.desc {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  font-weight: 400;
  height: 100px;
  overflow: hidden;
}

.caption {
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

.file-name {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  height: 1.2em;
  white-space: nowrap;
}

.file-name-exp1 {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 150px;
  height: 1.2em;
  white-space: nowrap;
}

.file-name-exp2 {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
  height: 1.2em;
  white-space: nowrap;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  align-items: center;
}

.j-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-self-end {
  margin-left: auto;
}

.j-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.a-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.a-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.j-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
}

.a-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.display-grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'card card card';
  gap: 1rem;
}

.grid {
  display: -ms-grid !important;
  display: grid !important;
  gap: 10px;
}

.grid-foo {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.form-grid {
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p {
  padding: 8px;
}

.p14 {
  padding: 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
}

.header {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: bold;
}

.subtitle2 {
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
}

.captize {
  text-transform: capitalize;
}

.text-mini {
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

.link {
  text-decoration: underline;
}

hr {
  border: none;
  padding: 1px;
  background: #DFE4D6;
  width: 100%;
  margin: 5px 0px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #1A1C18;
}

body {
  background: #fff;
}

ul {
  list-style: none;
}

a {
  color: #1A1C18;
}

header {
  height: 76px;
  width: 100%;
  background-color: #fff;
}

border-0 {
  border: 0px;
}

.m0 {
  margin: 0;
}

.mx0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mx {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my0 {
  margin-rigt: 0px;
  margin-left: 0px;
}

.my {
  margin-rigt: 10px;
  margin-left: 10px;
}

.w30 {
  width: 30vw;
}

.w35 {
  width: 35vw;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.m {
  margin: 14px;
}

.m2 {
  margin: 22px;
}

.m-y {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-t {
  margin-top: 14px !important;
}

.m-t2 {
  margin-top: 22px;
}

.m-t3 {
  margin-top: 32px;
}

.m-t4 {
  margin-top: 38px;
}

.m-b {
  margin-bottom: 14px;
}

.m-r-sm {
  margin-right: 8px;
}

.m-r {
  margin-right: 14px;
}

.m-r2 {
  margin-right: 22px;
}

.m-l {
  margin-left: 14px;
}

.m-l2 {
  margin-left: 22px;
}

.p0 {
  padding: 0px !important;
}

.p {
  padding: 3px;
}

.p-y {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p-x {
  padding-left: 10px;
  padding-rihgt: 10px;
}

.p-sm {
  padding: 10px;
}

.p-lg {
  padding: 16px;
}

.justify-s {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.material-symbols-rounded {
  font-size: 22px !important;
}

.chip {
  margin: 0;
}

.chip-icon {
  font-size: 14px !important;
}

.md-chip {
  cursor: pointer;
}

input[name="foo"]:checked + label {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  background-color: #B8F397;
  color: #042100;
}

.more-icon:hover, .more-btn:hover {
  cursor: pointer;
}

.icon-small {
  font-size: 16px !important;
}

.pos-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.pos-abs {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pos-rel {
  position: relative;
  bottom: 0;
  right: 0;
}

.pos-center {
  left: 50%;
}

.rounded {
  border-radius: 10px;
}

.rounded-sm {
  border-radius: 20px;
}

.rounded-lg {
  border-radius: 36px;
}

.more-vert {
  cursor: pointer;
  padding: 6px;
  border-radius: 50px;
}

.more-vert:hover {
  background: #DFE4D6;
}

.more-vert:focus, .more-vert:active {
  background-color: #B8F397;
  color: #042100;
}

.full-screen-view {
  width: 100%;
  height: 100vh;
  background-color: #FDFDF6;
}

.full-screen-overlay {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100vh;
  background-color: #FDFDF6;
  z-index: 10;
  overflow-y: scroll;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.more-menu {
  z-index: 1;
  display: none;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 90px;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 4px rgba(26, 28, 24, 0.25);
          box-shadow: 0 4px 4px rgba(26, 28, 24, 0.25);
  background: #fff;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: #1A1C18;
  overflow: hidden;
}

.more-menu ul {
  width: 100%;
  text-align: left;
}

.more-menu ul li {
  cursor: pointer;
  color: #1A1C18;
  padding: 6px 10px;
}

.more-menu ul li:hover {
  background-color: #e3e3e3;
}

.more-menu ul li.delete:hover {
  color: #fff;
  background-color: #BA1B1B !important;
}

.more-menu-sm {
  top: 18px;
  left: 18px;
  width: 130px;
  height: 20px;
  border-radius: 3px;
  display: none;
  overflow: hidden;
  cursor: pointer;
}

.more-menu-rel {
  z-index: 1;
  display: none;
  position: relative;
  width: 90px;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 4px rgba(26, 28, 24, 0.25);
          box-shadow: 0 4px 4px rgba(26, 28, 24, 0.25);
  background: #fff;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: #1A1C18;
  overflow: hidden;
}

.more-menu-rel ul {
  width: 100%;
  text-align: left;
}

.more-menu-rel ul li {
  cursor: pointer;
  color: #1A1C18;
  padding: 6px 10px;
}

.more-menu-rel ul li:hover {
  background-color: #e3e3e3;
}

.more-menu-rel ul li.delete:hover {
  color: #fff;
  background-color: #BA1B1B !important;
}

.clr-pri {
  color: #386A20;
}

.clr-pri-c {
  color: #042100;
}

.clr-sec {
  color: #55624C;
}

.clr-sec {
  color: #FFFFFF;
}

.clr-err {
  color: #BA1B1B;
}

.clr-on-err {
  color: #BA1B1B;
}

.clr-err-c {
  color: #410001;
}

.clr-tri-c {
  color: #386667;
}

.bg-w {
  background-color: #fff !important;
}

.bg-ter-c {
  background: #BBEBEB;
  color: #002021;
}

.bg-pri-c {
  color: #042100;
  background-color: #B8F397;
}

.bg-err {
  color: #FFFFFF !important;
  background-color: #BA1B1B !important;
}

.bg-err:hover {
  background-color: #BA1B1B !important;
}

.delete:hover {
  background: #BA1B1B;
  color: #FFFFFF;
}

.del-icon {
  color: #BA1B1B;
}

.del-icon:hover {
  background-color: #fff;
  cursor: pointer;
}

.target-able {
  cursor: pointer;
}

.icon-btn {
  width: 48px;
  height: 48px;
  border-radius: 100vmax;
}

.bg-err-c {
  color: #410001;
  background-color: #FFDAD4;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50px;
  background: #B8F397;
  color: #042100;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upper {
  text-transform: uppercase;
}

.br1 {
  border-radius: 12px;
}

.bl {
  font-weight: bold;
}

.description {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 16px;
}

.btn-small {
  background: #386A20;
}

.btn-small:hover {
  cursor: pointer;
  background: #B8F397;
}

.btnn, .btnn-small {
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
  border: none;
  background: rgba(56, 106, 32, 0.9);
  color: #ffffff;
  text-align: center;
  text-transform: capitalize;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.btnn, .flat-btnn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 30px;
  border: none;
}

.btnn-small, .flat-btnn-small {
  padding: 10px 24px;
  border-radius: 8px;
}

.btnn-small:focus, .flat-btnn-small:focus {
  background: #386A20;
  -webkit-box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.btnn span, .flat-btnn span {
  color: #ffffff;
}

.btnn-small-icon, .flat-btnn-small-icon {
  padding: 8px 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 10px;
}

.btnn-icon, .flat-btnn-icon {
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 52px;
  height: 52px;
  padding: 12px;
}

.btnn-icon-small, .flat-btnn-icon-small {
  border-radius: 10px;
  color: #ffffff;
  font-size: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 12px;
}

.btnn:hover, .btnn-small:hover, .flat-btnn:hover, .flat-btnn-small:hover {
  cursor: pointer;
  color: #ffffff;
  -webkit-box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  background: #386A20;
}

.btnn:focus, .flat-btnn:focus {
  background: #386A20;
  -webkit-box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.btnn-rounded {
  padding: 8px 24px;
  border-radius: 50px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnn-rounded:hover, .btnn-rounded:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnn-rounded-lg {
  padding: 10px 24px;
  border-radius: 50px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnn-rounded-lg:hover, .btnn-rounded-lg:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

button[disabled]:hover {
  cursor: not-allowed;
}

.floating-btn {
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
}

.bg-ternary {
  background: #BBEBEB;
  color: #002021;
}

.tab-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 24px;
  margin: 0 32px 0 0;
  border: none;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  border-radius: 32px;
  background: none;
  cursor: pointer;
  vertical-align: middle;
}

.tab-btn.active {
  background: rgba(187, 235, 235, 0.8);
  color: #002021;
}

.tab-btn.active:hover {
  background: #BBEBEB;
}

.tab-btn.active:focus {
  border: 2px solid #000;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
}

.tab-btn span {
  margin-right: 8px;
}

.tab-btn:hover {
  background: #e3e3e3;
}

.tab-btn:focus {
  background: #BBEBEB;
}

.bg__danger {
  background: #BA1B1B;
  color: #FFFFFF;
}

.bg__danger:hover {
  color: #FFDAD4;
  background: #410001;
}

.bg__danger:focus {
  color: #FFDAD4;
  background: #410001;
}

.card {
  background: white;
  border-radius: 18px;
  border: 1.5px solid #74796E;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
}

.card.card-list {
  background: #FDFDF6;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: 0;
          box-shadow: 0;
}

.elevation {
  -webkit-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.elevation-0 {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-content div {
  text-align: left;
}

.card-contents a {
  color: blue;
  text-decoration: underline;
}

.media {
  height: 70px;
  background-color: #DFE4D6;
  overflow: hidden;
}

.media img {
  width: 100%;
}

.elevated-card {
  background: #fff;
  border: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  padding: 14px;
}

.elevated-card .card-title {
  font-size: 30px;
  line-height: 44px;
}

.subject-card {
  width: 300px;
  border: none;
  background: #FDFDF6;
  color: #1A1C18;
  border-radius: 10px;
  overflow: hidden;
}

.subject-card .card-header {
  padding: 8px 10px;
}

.subject-card .card-content {
  padding: 16px;
}

.subject-card .card-content hr {
  padding: 0.5px;
}

.subject-card.col {
  padding: 0;
}

.subject-card img {
  width: 100%;
}

#expand-more {
  border-radius: 8px;
  padding: 6px;
}

#expand-more:hover {
  cursor: pointer;
  background: #e3e3e3;
}

.content-expand {
  display: none;
  padding: 18px;
}

.card.auth {
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px 16px;
}

.card.auth a {
  text-decoration: underline;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 16px 0px;
  height: 100px;
  padding: 24px 0px;
  border-bottom: 1px solid #e3e3e3;
}

.badge {
  color: #042100;
  background-color: #cccc;
  text-transform: lowercase;
  border: 2px solid #000;
  padding: 0px 12px;
  border-radius: 30px;
}

.badge-success {
  border: 2px solid #2ECC71;
  background-color: rgba(46, 204, 113, 0.5);
}

.badge-danger {
  border: 2px solid #BA1B1B;
  background-color: rgba(186, 27, 27, 0.5);
}

.date-format {
  font-style: italic;
  font-size: 12px;
  letter-spacing: 0.4px;
  font-weight: 400;
}

.modal::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(223, 228, 214, 0.3);
  border-radius: 12px;
  padding: 10px;
  border-bottom: none;
  border: 1px solid #74796E;
  color: #43493E;
  margin: 0;
  width: 100%;
}

input:not([type]).input-small, input[type=text]:not(.browser-default).input-small, input[type=password]:not(.browser-default).input-small, input[type=email]:not(.browser-default).input-small, input[type=url]:not(.browser-default).input-small, input[type=time]:not(.browser-default).input-small, input[type=date]:not(.browser-default).input-small, input[type=datetime]:not(.browser-default).input-small, input[type=datetime-local]:not(.browser-default).input-small, input[type=tel]:not(.browser-default).input-small, input[type=number]:not(.browser-default).input-small, input[type=search]:not(.browser-default).input-small, textarea.materialize-textarea.input-small {
  background: #fff;
  border-radius: 2px;
  padding: 5px;
  width: 60%;
  height: 18px;
}

input:not([type]).input-small:focus:not([readonly]), input[type=text]:not(.browser-default).input-small:focus:not([readonly]), input[type=password]:not(.browser-default).input-small:focus:not([readonly]), input[type=email]:not(.browser-default).input-small:focus:not([readonly]), input[type=url]:not(.browser-default).input-small:focus:not([readonly]), input[type=time]:not(.browser-default).input-small:focus:not([readonly]), input[type=date]:not(.browser-default).input-small:focus:not([readonly]), input[type=datetime]:not(.browser-default).input-small:focus:not([readonly]), input[type=datetime-local]:not(.browser-default).input-small:focus:not([readonly]), input[type=tel]:not(.browser-default).input-small:focus:not([readonly]), input[type=number]:not(.browser-default).input-small:focus:not([readonly]), input[type=search]:not(.browser-default).input-small:focus:not([readonly]), textarea.materialize-textarea.input-small:focus:not([readonly]) {
  border: 1px solid #74796E;
  background: rgba(223, 228, 214, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border: 1px solid #74796E;
  background: rgba(223, 228, 214, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-input {
  width: 100%;
}

.create-post .form-input {
  width: 50%;
}

select {
  display: block;
  width: auto;
  border-radius: 12px;
  border: 1px solid #74796E;
}

.datepicker-select {
  display: none;
}

.select-wrapper input.select-dropdown {
  position: relative !important;
  cursor: pointer !important;
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #9e9e9e;
  outline: none !important;
  height: 3rem !important;
  line-height: 3rem !important;
  width: 100% !important;
  font-size: 16px !important;
  margin: 0 0 8px 0 !important;
  padding: 0 !important;
  display: block !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  z-index: 1 !important;
}

.datepicker-date-display span {
  color: #fff;
}

.tabs .tab {
  border-radius: 15px;
}

.tabs .tab a {
  color: rgba(56, 106, 32, 0.7);
}

.tabs .tab a:hover {
  color: #386A20;
}

.tabs .tab .active {
  border-radius: 16px;
  color: #386A20 !important;
}

.tabs .tab a:focus.active {
  border-radius: 16px;
  background-color: rgba(184, 243, 151, 0.3) !important;
}

.tabs .indicator {
  height: 3px;
  background-color: #386A20;
}

.progress {
  display: none;
  background-color: rgba(56, 106, 32, 0.3);
}

.progress .indeterminate {
  background-color: #386A20;
}

.loader {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 45%;
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 3px solid #D9E7CB;
  border-radius: 50%;
  border-top-color: #386A20;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.btn-loader {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid #FDFDF6;
  border-radius: 50%;
  border-top-color: #386A20;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.icon-loader {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #FDFDF6;
  border-radius: 50%;
  border-top-color: #386A20;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.preloader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.spinner-layer {
  border-color: #386A20;
}

.wrapper .navbar {
  background: #fff;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #74796E;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  z-index: 10;
}

.wrapper .navbar__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .navbar__items .hamburger {
  width: 65px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.wrapper .navbar__items .hamburger span {
  padding: 10px;
  border-radius: 50px;
}

.wrapper .navbar__items .hamburger span:hover {
  background: #e3e3e3;
  cursor: pointer;
}

.wrapper .navbar__items .hamburger span:focus {
  border: 2px solid #000;
  background: none;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
}

.wrapper .navbar__items .hamburger span:focus:hover {
  background: #e3e3e3;
  cursor: pointer;
}

.wrapper .navbar__menu {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .navbar__menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 46px;
  padding: 0 16px;
  border-radius: 32px;
  cursor: pointer;
}

.wrapper .navbar__menu .logo img {
  width: 30px;
  border-radius: 10px;
  border: 1px solid #000;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.wrapper .navbar__menu .logo span {
  font-size: 16px;
  letter-spacing: 0.15px;
  font-weight: 400;
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 14px;
  color: #1A1C18;
}

.wrapper .navbar__menu .logo:hover {
  background: #e3e3e3;
}

.wrapper .navbar__menu .logo:focus {
  border: 2px solid #000;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
}

.wrapper .navbar__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .navbar__items li a:hover {
  background: none;
}

.wrapper .navbar__items ul li span {
  width: 38px;
  height: 38px;
  background: #e3e3e3;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .navbar__items .profile span {
  font-size: 18px;
  color: #002021;
  font-weight: 600;
  background: #BBEBEB;
  border-radius: 12px;
  margin-left: 24px;
}

.wrapper .sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  background: #fff;
  width: 60px;
  height: 100vh;
  border-right: 1px solid #74796E;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.wrapper .sidebar ul {
  padding: 10px;
  margin: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .sidebar ul .sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 12px;
  background: #fff;
  border-radius: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper .sidebar ul .sidebar__item:hover {
  background: #e3e3e3;
  cursor: pointer;
}

.wrapper .sidebar ul .active {
  color: #002021;
  background: #BBEBEB;
}

.wrapper .sidebar ul .active span {
  color: #002021;
}

.wrapper .sidebar ul .active:hover {
  background: #BBEBEB;
  cursor: pointer;
}

.wrapper .sidebar ul li .sidebar__title {
  display: none;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
  text-transform: capitalize;
  margin-left: 32px;
}

.wrapper.collapse .sidebar {
  width: 200px;
}

.wrapper.collapse .sidebar ul {
  margin: 8px 0;
  padding: 10px 0;
}

.wrapper.collapse .sidebar ul li {
  margin-left: 0;
  width: 100%;
}

.wrapper.collapse .sidebar ul .sidebar__title {
  display: block;
}

.wrapper.collapse .sidebar ul .active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.wrapper .main-content {
  margin-top: 40px;
  margin-left: 40px;
  padding: 15px 0px 15px 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
}

.wrapper .main-data {
  margin-bottom: 10px;
  padding: 15px;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.wrapper .main-data-items {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 60%;
}

.wrapper .main-data .material-symbols-rounded {
  border-radius: 12px;
}

.wrapper .main-data .material-symbols-rounded:hover {
  cursor: pointer;
}

.wrapper .main-title {
  text-transform: capitalize;
}

.wrapper.collapse .main-content {
  margin-left: 200px;
}
/*# sourceMappingURL=styles.css.map */