<div class="full-screen-overlay" id="post-view">
    <div class="progres m0 pos-sticky">
        <div class="indeterminate"></div>
    </div>
    <!-- <input type="hidden" name="docId" value="<%= staff.id %>">
    <input type="hidden" name="desg" value="<%= staff.designation %>"> -->

    <header class="elevation display-flex pos-sticky">
        <div class="container display-flex j-space-between ">
            <div class="back display-flex">
                <a href="#" class="overlay-screen-close" id="overlay-screen-close">
                    <span class="material-symbols-outlined p-sm bg-pri-c rounded-lg">
                        expand_more
                    </span>
                </a>
                <div class="title m-l p-sm">
                    <h5>
                        Notification Post
                    </h5>
                </div>
            </div>

        </div>
    </header>
    <br>
    <main style="overflow: scroll-able;">
        <div class="container">
            <!-- alert -->
            <!-- <div class="alert display-flex bg-ter-c p-sm m-b rounded">
                <span class="material-symbols-rounded m-r">
                    info
                </span>
                <p>
                    To change department & designation delete user and create again
                </p>
                <span class="material-symbols-rounded m-r j-self-end alert-close target-able" id="alert-close">
                    close
                </span>
            </div> -->

            <!-- content -->
            <div class="elevated-card m-b" style="min-width: 300px; max-width: 700px; margin: 0 auto;" id="post-data">
                <div class="card-contents p-lg">
                    <div class="display-flex j-space-between">
                        <div class="display-flex">
                            <h6 class="avatar-m m-r-sm bg-pri-c" id="placeholder-avatar">M</h6>
                            <div class="display-flex flex-c j-start">
                                <h5 class="captize" id="placeholder-name">Michale Jo</h5>
                                <p class="caption" id="placeholder-d-d">CSE HOD</p>
                            </div>
                        </div>
                        <p class="caption " id="placeholder-date">Jun 30 2022</p>
                    </div>
                    <div class="row j-start m-t" id="placeholder-tags">

                    </div>
                    <h4 class="" id="placeholder-title">What is Lorem Ipsum?</h4>
                    <p class="m-t" style="line-height: 1.5;" id="placeholder-desc">
                        <!-- description -->
                    </p>


                </div>
            </div>

            <br>





    </main>
</div>